.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: url('grunge-pattern-970.jpg')
}

.navbar-inverse  {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}

.user_links {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}

a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}

.nav a {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}

.navbar-right {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}

.navbar-right:link {
  color:none;
}

li.navbar-right {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}

li.navbar-right:link {
  color:none;
}

li:link {
  color:none;
}

a:link {
  color:none;
}

body:link {
  color:none;
}

a.body:link{
  color:none;
}

.navbar-right a {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #FFFFFF;
}


.hero {
  background: url('coffee_shop3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 375px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
  background-color: #851515;
  border-color: #FFFFFF;
}

body {
  background: url('grunge-pattern-970.jpg');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadown: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h2 {
  margin: 10px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.lesson { 
  background-color:black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color:white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight:100;
  font-size: 15px;
}

.less a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}




